body {
	font-family: 'Sue Ellen Francisco', cursive;
	text-align: center;
	background-image: url("../images/house.jpg");
	background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
	font-size: 80px;
	color: black;
	text-shadow: 0 0 8px #ff9387, 0 0 8px #a8a8d7;
	padding-top: 15px;
}

button,
.btn {
	font-family: 'Sue Ellen Francisco', cursive;
	text-align: center;
	padding: 5px;
	line-height: 100%;
	color: #f9f9f9;
}

#search,
#add-gif,
#gifs {
	line-height: 100%;
	padding: 5px;
	font-size: 30px;
}

#gif-buttons,
#submit-button {
	margin: 4px;
	font-size: 30px;
	padding-top: 12px;
}

#add-gif-input {
	line-height: 100%;
	font-size: 26px;
	background-color: #fafafa;
	margin-top: 20px;
}

#footer {
	color: #0f3446;
	padding: 5px;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

a {
	color: #0f3446;
}

a:hover {
	color: black;
	text-decoration: none;
}